 .u-section-1 {
  background-image: url("images/dc211677921e5446eec3c015159ddd3369f3166c8b29b2ad485b241b1d210453217ba4a6afd6d57dfb3b9194b9f1744e4d43fff13fc3707e4698ab_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 417px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 85px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 17px 91px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 633px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 366px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1090px;
  margin: 37px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 62px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 230px;
}

.u-section-3 .u-line-1 {
  width: 178px;
  height: 6px;
  margin: 7px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 117px;
  height: 117px;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 230px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-3 .u-text-2 {
  margin: 10px 1px -10px;
}

.u-section-3 .u-shape-1 {
  width: 15px;
  height: 121px;
  background-image: none;
  margin: -121px -15px 37px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 747px;
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-3 .u-line-1 {
    width: 114px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 143px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 152px;
  }

  .u-section-3 .u-line-1 {
    transform-origin: left center 0;
    margin-right: 35px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 109px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 77px;
  }

  .u-section-3 .u-shape-1 {
    width: 9px;
    margin-top: -39px;
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-3 .u-line-1 {
    width: 114px;
    transform-origin: 57px 3px;
    margin: 5px auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 89px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-shape-1 {
    width: 15px;
    margin-top: -68px;
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 556px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shape-1 {
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 848px;
}

.u-section-4 .u-group-1 {
  min-height: 474px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  margin: 26px auto 0 20px;
}

.u-section-4 .u-blog-1 {
  width: 1140px;
  margin: 22px auto -308px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 678px;
}

.u-section-4 .u-repeater-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-1 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin: 22px 22px 0;
}

.u-section-4 .u-text-3 {
  margin: 22px 22px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 61px auto 0;
  padding: 0;
}

.u-section-4 .u-repeater-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-2 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin: 22px 22px 0;
}

.u-section-4 .u-text-5 {
  margin: 22px 22px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 61px auto 0;
  padding: 0;
}

.u-section-4 .u-repeater-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-3 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  margin: 22px 22px 0;
}

.u-section-4 .u-text-7 {
  margin: 22px 22px 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 61px auto 0;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 310px auto 14px;
  padding: 9px 0 10px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-blog-1 {
    width: 880px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 521px;
  }

  .u-section-4 .u-image-1 {
    height: 235px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-item-2 {
    background-size: auto;
  }

  .u-section-4 .u-image-2 {
    height: 235px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-item-3 {
    background-size: auto;
  }

  .u-section-4 .u-image-3 {
    height: 235px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-4 .u-blog-1 {
    width: 660px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-4 .u-image-1 {
    height: 180px;
  }

  .u-section-4 .u-image-2 {
    height: 180px;
  }

  .u-section-4 .u-image-3 {
    height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-blog-1 {
    width: 520px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 135px;
  }

  .u-section-4 .u-image-2 {
    height: 135px;
  }

  .u-section-4 .u-image-3 {
    height: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-blog-1 {
    width: 320px;
  }

  .u-section-4 .u-image-1 {
    height: 85px;
  }

  .u-section-4 .u-image-2 {
    height: 85px;
  }

  .u-section-4 .u-image-3 {
    height: 85px;
  }
} .u-section-5 {
  min-height: 551px;
}

.u-section-5 .u-line-1 {
  height: 8px;
  transform-origin: right center 0px;
  width: calc(((100% - 1140px) / 2) + 535px);
  margin: 20px 0 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 12px auto 40px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/367bb2ae03b4df140989e640c1c49cf2740124d4e82bf03337f5fca4fcfc07530147f4a3b6fd2e406421ebbef486a763c8a0187a801b682dd0f0a8_1280.jpg");
  background-position: 50% 50%;
  min-height: 502px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 502px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px 137px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 740px;
  }

  .u-section-5 .u-line-1 {
    width: 490px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-5 .u-image-1 {
    min-height: 414px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 36px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-top: 37px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    transform-origin: left center 0;
    width: calc(((100% - 720px) / 2) + 332px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-5 .u-image-1 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 29px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 33px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1025px;
  }

  .u-section-5 .u-line-1 {
    transform-origin: right center 0px;
    width: calc(((100% - 540px) / 2) + 446px);
    margin-top: 29px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 29px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 476px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1074px;
  }

  .u-section-5 .u-line-1 {
    width: calc(((100% - 340px) / 2) + 165px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-image-1 {
    min-height: 300px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 70px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 519px;
}

.u-section-6 .u-text-1 {
  margin: 24px auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 408px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 180px;
  height: 180px;
  margin: 0 auto 0 23px;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 69px;
}

.u-section-6 .u-text-3 {
  margin: 14px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 408px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-image-2 {
  width: 180px;
  height: 180px;
  margin: 1px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 14px 14px 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 408px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 9px;
}

.u-section-6 .u-image-3 {
  width: 236px;
  height: 180px;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 20px 21px 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  width: 207px;
  height: 180px;
  margin: 0 auto 0 8px;
}

.u-section-6 .u-text-8 {
  margin: 20px auto 0 54px;
}

.u-section-6 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-6 .u-image-1 {
    width: 175px;
    height: 175px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 54px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-6 .u-image-3 {
    width: 218px;
    height: 166px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-6 .u-image-4 {
    width: 175px;
    height: 152px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2154px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1592px;
  }
} .u-section-7 {
  background-image: url("images/bceb914daa5689db30147ce9997d1b51d44c9818fda32aabc00474e6bf157ad95946e0c31616a0ec43c6a57e26119ed82389d302cb71d30855a529_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 502px;
}

.u-section-7 .u-icon-1 {
  width: 94px;
  height: 94px;
  margin: 33px auto 0 16px;
  padding: 0;
}

.u-section-7 .u-text-1 {
  margin: -85px 740px 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 9px 570px 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 38px 0 0;
}

.u-section-7 .u-icon-2 {
  width: 63px;
  height: 63px;
  margin: -57px 29px 16px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 610px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 467px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 220px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 170px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1735px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 535px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1060px;
  margin: 24px auto 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-8 .u-icon-1 {
  width: 131px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 13px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 29px 18px;
}

.u-section-8 .u-icon-2 {
  width: 106px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 1px 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 14px 18px;
}

.u-section-8 .u-icon-3 {
  width: 108px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 14px 0 0;
}

.u-section-8 .u-layout-wrap-2 {
  width: 1060px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 20px 20px;
}

.u-section-8 .u-icon-4 {
  width: 144px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-5 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 23px 0;
}

.u-section-8 .u-layout-cell-5 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 29px 18px;
}

.u-section-8 .u-icon-5 {
  width: 155px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 1px 0;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px 14px 18px;
}

.u-section-8 .u-icon-6 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-7 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 14px 0 0;
}

.u-section-8 .u-layout-wrap-3 {
  width: 1060px;
  margin: 1px auto 0;
}

.u-section-8 .u-layout-cell-7 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px 30px 20px;
}

.u-section-8 .u-icon-7 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px auto 0;
}

.u-section-8 .u-layout-cell-8 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-8 {
  padding: 30px 29px 18px;
}

.u-section-8 .u-icon-8 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-9 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 1px 0;
}

.u-section-8 .u-layout-cell-9 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-9 {
  padding: 30px 14px 18px;
}

.u-section-8 .u-icon-9 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 14px 0 0;
}

.u-section-8 .u-shape-1 {
  width: 15px;
  height: 1390px;
  margin: -756px 12px 0 auto;
}

.u-section-8 .u-layout-wrap-4 {
  width: 1060px;
  margin: -634px auto 0;
}

.u-section-8 .u-layout-cell-10 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-10 {
  padding: 30px 30px 20px;
}

.u-section-8 .u-icon-10 {
  width: 161px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-11 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 13px 0;
}

.u-section-8 .u-layout-cell-11 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-11 {
  padding: 30px 29px 18px;
}

.u-section-8 .u-icon-11 {
  width: 121px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-12 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 1px 0;
}

.u-section-8 .u-layout-cell-12 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-12 {
  padding: 25px 0;
}

.u-section-8 .u-icon-12 {
  width: 160px;
  background-image: none;
  height: 160px;
  margin: 27px auto 0;
  padding: 12px;
}

.u-section-8 .u-text-13 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 33px 21px 0;
}

.u-section-8 .u-layout-wrap-5 {
  width: 1060px;
  margin: 0 auto 60px;
}

.u-section-8 .u-layout-cell-13 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-13 {
  padding: 30px 30px 20px;
}

.u-section-8 .u-icon-13 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-14 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 13px 0;
}

.u-section-8 .u-layout-cell-14 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-14 {
  padding: 30px 29px 18px;
}

.u-section-8 .u-layout-cell-15 {
  min-height: 308px;
}

.u-section-8 .u-container-layout-15 {
  padding: 25px 0;
}

.u-section-8 .u-icon-14 {
  width: 160px;
  background-image: none;
  height: 160px;
  margin: 0 auto;
  padding: 12px;
}

.u-section-8 .u-text-15 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 29px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1560px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 335px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-8 .u-layout-wrap-2 {
    position: relative;
    width: 940px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 273px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 273px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-8 .u-layout-wrap-3 {
    position: relative;
    width: 940px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 273px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 273px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-8 .u-layout-cell-9 {
    min-height: 273px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-8 .u-layout-wrap-4 {
    position: relative;
    width: 940px;
  }

  .u-section-8 .u-layout-cell-10 {
    min-height: 273px;
  }

  .u-section-8 .u-text-11 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-layout-cell-11 {
    min-height: 273px;
  }

  .u-section-8 .u-text-12 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-8 .u-layout-cell-12 {
    min-height: 273px;
  }

  .u-section-8 .u-text-13 {
    margin-right: 1px;
    margin-left: 1px;
  }

  .u-section-8 .u-layout-wrap-5 {
    position: relative;
    width: 940px;
  }

  .u-section-8 .u-layout-cell-13 {
    min-height: 273px;
  }

  .u-section-8 .u-text-14 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 273px;
  }

  .u-section-8 .u-layout-cell-15 {
    min-height: 273px;
  }

  .u-section-8 .u-text-15 {
    margin-right: 1px;
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 115px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-wrap-4 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-8 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-layout-wrap-5 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 209px;
  }

  .u-section-8 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-8 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-wrap-4 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-wrap-5 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 470px;
  }

  .u-section-8 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-8 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-8 .u-layout-wrap-4 {
    width: 340px;
  }

  .u-section-8 .u-layout-wrap-5 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 296px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 703px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 25px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 733px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-shape-1 {
  width: 661px;
  height: 514px;
  background-image: none;
  margin: -35px auto 0 0;
}

.u-section-9 .u-text-1 {
  margin: -449px 60px 0;
}

.u-section-9 .u-image-1 {
  width: 479px;
  height: 479px;
  margin: -69px 0 0 auto;
}

.u-section-9 .u-text-2 {
  margin: -355px 507px 0 60px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-text-3 {
  margin: 58px 60px 0;
}

.u-section-9 .u-icon-1 {
  width: 227px;
  height: 153px;
  margin: 14px auto 0 60px;
  padding: 0;
}

.u-section-9 .u-text-4 {
  font-weight: normal;
  margin: -126px 104px 0 325px;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  font-style: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 225px;
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 147px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 9px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-shape-1 {
    width: 540px;
    margin-top: -10px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -472px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-top: 83px;
  }

  .u-section-9 .u-icon-1 {
    margin-top: -41px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-shape-1 {
    width: 340px;
    margin-top: 179px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -661px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -216px;
  }
}